
<center> <h1>Home#index</h1> 
	<% if user_signed_in? %>
	<h2> Hello <%= @user.name %></h2>
	<%= link_to "Edit User", edit_user_registration_path(current_user) %><br>	
	<%= link_to "Sign out", destroy_user_session_path, method: :delete %><br>
	<!--__________________________________________________________________-->
	<h1> Vacations <%=@user.name %> </h1>

	<strong>Holydays days: </strong>  <%= @days.to_i %> <br>

	<% @user.vacations.each do |vacation| %>
	<p>
		<strong>Date start:</strong>
		<%= vacation.start_date.strftime("%m/%d/%Y") %>

		<strong>Date finish:</strong>
		<%= vacation.finish_date.strftime("%m/%d/%Y") %>

		<strong>Duration:</strong>
		<%= ((vacation.finish_date - vacation.start_date)/(3600*24)).to_i %> days

		<strong>Discount:</strong>
		<%= vacation.discount_days.to_i %> days
	</p>

	<% end %>
	<!--_________________________________________________________________________-->

	<% if @user.admin %>
	<% @users.each do |user| %>
	<td> <%= link_to user.name , user_vacations_path(user) %></td><br>
	<% end %>
	<% end %>
	<% else %>
	<a href="/users/sign_up" class="btn btn-lg btn-primary">Sign up now!</a>
	<div class = "login">
		<%= render 'devise/sessions/login' %>
	</div>
	<% end %>
</center>